<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("Accueil", "Index", "Home", new { @class = "navbar-brand" })
        </div>
        <div class="navbar-header">
            @Html.ActionLink("A propos", "AboutUs", "Home")
        </div>
        <div class="navbar-header">
            @Html.ActionLink("Inscription", "Register", "Home")
        </div>
        <div class="navbar-header">
            @Html.ActionLink("Login", "Login", "Home")
        </div>
    </div>
</div>